@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>GitHub João Garcia Neto .NET <a href="https://github.com/Jgneto2010?tab=repositories">building Web apps with ASP.NET Core</a>.</p>
</div>

